@model Sistem_Pemberkasan.Models.Master.PegawaiVM.Add
<div class="row">
	<div class="col-12 mb-3">

		<form id="frmAdd" class="needs-validation" novalidate asp-controller="Pegawai" asp-action="StoreAdd" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-12 mb-3">
					<label for="Ket" class="form-label required-star">NIK</label>
					@Html.TextBoxFor(x => x.NewPegawaiRow.Nik, new { @class = "form-control", @placeholder = "Masukkan NIK" })
				</div>
				<div class="col-12 mb-3">
					<label for="Ket" class="form-label required-star">Nama</label>
					@Html.TextBoxFor(x => x.NewPegawaiRow.NamaPegawai, new { @class = "form-control", @placeholder = "Masukkan Nama" })
				</div>
				<div class="col-12 mb-3">
					<label for="Ket" class="form-label required-star">No Telepon</label>
					@Html.TextBoxFor(x => x.NewPegawaiRow.NoTelepon, new { @class = "form-control", @placeholder = "Masukkan No Telepon" })
				</div>
				<div class="col-12 mb-3">
					<label class="form-label required-star">Jenis Kelamin</label>
					<div class="d-flex">
						<div class="form-check me-3">
							@Html.RadioButtonFor(x => x.NewPegawaiRow.JenisKelamin, true, new { @class = "form-check-input" })
							<label class="form-check-label">Laki-Laki</label>
						</div>
						<div class="form-check">
							@Html.RadioButtonFor(x => x.NewPegawaiRow.JenisKelamin, false, new { @class = "form-check-input" })
							<label class="form-check-label">Perempuan</label>
						</div>
					</div>
				</div>

				<div class="col-12 mb-3">
					<label for="Ket" class="form-label required-star">Email</label>
					@Html.TextBoxFor(x => x.NewUserRow.Email, new { @class = "form-control", @type = "email" })
				</div>
				<div class="col-12 mb-3">
					<label for="Ket" class="form-label required-star">Password</label>
					<div class="position-relative auth-pass-inputgroup ">
						@Html.TextBoxFor(x => x.NewUserRow.Password, new { @class = "form-control", @type = "password", @id = "Password" })
						<button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon" onclick="showPassword();"><i class="ri-eye-fill align-middle"></i></button>
					</div>
				</div>
				<div class="col-12 mb-3">
					<label for="Ket" class="form-label required-star">Bidang</label>
					@Html.DropDownListFor(x => x.NewPegawaiRow.IdBidang, 
					new SelectList(Model.ListBidang, "IdBidang", "NamaBidang"),
					"Pilih Bidang", new { @class = "form-select" })
				</div>
				<div class="col-12 mb-3">
					<label for="Ket" class="form-label required-star">Role</label>
					@Html.DropDownListFor(x => x.NewUserRow.IdRole,
					new SelectList(Model.ListRole, "IdRole", "JenisRole"),
					"Pilih Role", new { @class = "form-select" })
				</div>
			</div>
		</form>

	</div>
	<div class="hstack gap-2 justify-content-end">
		<button type="button" class="btn btn-danger" id="btn-tutup-event" data-bs-dismiss="modal">Tutup</button>
		<button type="button" class="btn btn-success" id="btn-save-event" onclick="fnSimpan()">Simpan</button>
	</div>
</div>
<script>
	$(document).ready(function () {
	});
	function showPassword() {
		var key_attr = $('#Password').attr('type');
		if (key_attr !== 'text') {
			$('#Password').attr('type', 'text');
		} else {
			$('#Password').attr('type', 'password');
		}
	}
	function fnSimpan() {
		var formData = new FormData($("#frmAdd")[0]);
		var t = $("input[name='__RequestVerificationToken']").val();

		$.ajax({
			url: $("#frmAdd").attr('action'),
			type: "POST",
			data: formData,
			dataType: "json",
			contentType: false,
			processData: false,
			headers:
			{
				"RequestVerificationToken": t
			},
			beforeSend: function () {
				$("#loader").show()
			},
			complete: function () { $("#loader").hide(); },
			success: function (resp) {
				if (resp.status == 1) {
					Swal.fire({
						icon: 'success',
						title: '<b>Info</b>',
						text: resp.message,
					}).then((result) => {
						window.location.reload();
					})
				}
				else {
					Swal.fire({
						icon: 'warning',
						title: '<b style="color:orange">Peringatan</b>',
						text: resp.message,
					})
				}
			}
		})

	}

			
</script>